/* src/assets/styles/utils/_colors.scss  */

$whiteBg: #fff;

$titleColor: #333333;
$priceColor: #333333;
$placeholderColor: #333333;
$inputTextColor: #333333;
$filterColor: #333333;
$productNameColor: #777777;
$footerLinksColor: #404040;
$iconSocColor: #555555;
$countColor: #bbbbbb;
