.our-showcase {
  padding: 96px 100px;
  margin: 0 auto;
  max-width: 1380px;
  width: 100%;
  box-shadow: -1px 5px 48px 3px rgba(237, 235, 253, 0.75);
  background-color: #ffffff;
  &__title {
    margin-bottom: 104px;
  }
  &__filter {
    width: 1105px;
    height: 66px;
    box-shadow: -1px 5px 48px 3px rgba(239, 239, 240, 0.75);
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
  }
}

.filter {
  &__link {
    width: 866px;
    height: 16px;
    color: #333333;
    font-family: $opensans;
    font-weight: 600;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 0.15px;
  }
}
