.title {
  color: $titleColor;
  font-family: $opensans;
  font-size: $fzTitle;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.5px;
  &__footer {
    color: #222222;
    font-family: $roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 120px;
  }
}
