section.newsletter
  .container
    .row.newsletter__row
      .col
        header.newsletter__header
          h2.title.newsletter__title Newsletter
          span.newsletter__back-text get notified
    .row
      .col
        form.newsletter__form
          input.newsletter__input(type="text" placeholder='Enter your email address..')
          input.button.newsletter__button(type="submit" value="Submit")
