.our-showcase
  .container
    .row
      .col
        h2.title.our-showcase__title Our Showcase
    .row
      .col
        ul.our-showcase__filter.filter
          li
            a.filter__link(href='#') Fashion
          li
            a.filter__link(href='#') Furnitures
